* {
    text-align: center;
    font-family: 'Righteous', cursive;
    color:#8A8271;
}
h1 {
    text-align: center;
    font-family: 'Righteous', cursive;

}

.enemypic {
    width: 200px;
    height: 200px;
    border: 5px solid #718A75;
    margin:auto;
    margin-bottom: 25px;
    margin-top: 45px;
    max-height: 500px
}

.enemybox {
    text-align: justify;    
}

#generatebutton {
    background: -webkit-linear-gradient(#718A75,#FFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#718A75,#FFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#718A75,#FFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#718A75,#FFF); /* Standard syntax */
	text-align: center;
	padding: 10px 0px 10px 0px;  
}

.heroImage {
    max-width: 30%;
    box-shadow: 0 0 30px 8px grey ;
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 40%;
}


#monsterDragon {
    display:none;
    margin-top:20px
}

#monsterProwler {
    display:none;
}

#monsterGrunt {
    display:none;
}

span {
    font-size:3em;
    text-align: justify;
    padding-left: 41%;
    padding-right: 50%
}

#getReady {
    margin-top: 5px;
    padding: 0;
    color: #718A75
}